{% extends 'front/layout.html.twig' %}

{% block title %} {{ team.name }} {% endblock %}

{%block stylesheets %}
{{ parent() }}
{% endblock %}

{% block content %}

    {% for user in team.user %}
          
    <p>{{ user.lastname }} {{ user.firstname }}</p>
    {% endfor %}

    {% if team.pictures %}
        {% for picture in team.pictures %}
        <img src="{{ vich_uploader_asset(picture, 'file', 'App\\Entity\\Picture') }}" alt="{{ team.name }}" />
        {% endfor %}
    {% endif %}



{% endblock %}