{% extends 'front/layout.html.twig' %}

{% block title %} {{ team.name }} {% endblock %}

{%block stylesheets %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block content %}
<div>
    <h1 class="text-center my-3 my-md-5">{{ team.name }}</h1>
    {# {% for user in team.user %}    
    <p>{{ user.lastname }} {{ user.firstname }}</p>
    {% endfor %} #}

    {% if team.pictures %}
    

    <div id="team-carousel" class="carousel slide m-auto shadow" data-bs-ride="carousel">
        <div class="carousel-indicators">
        {% for picture in team.pictures %}
            <button type="button" data-bs-target="#team-carousel" data-bs-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %}></button>
        {% endfor %}
        </div>
        <div class="carousel-inner rounded">
        {% for picture in team.pictures %}
            <div class="carousel-item {% if loop.index0 == 0 %} active {% endif %}"> 
                <img class="d-block w-100" src="{{ vich_uploader_asset(picture, 'file', 'App\\Entity\\Picture') }}" alt="{{ team.name }}" alt="First slide">
            </div>
        {% endfor %}
        </div>
    <a role="button" class="carousel-control-prev" type="button" data-bs-target="#team-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a role="button" class="carousel-control-next" type="button" data-bs-target="#team-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
    </div>

    {% endif %}
    <div class="text-center my-5">
    {% if team.name =="Séniors 1" %}
        <a class="btn" href="https://loire.fff.fr/competitions/?id=374021&poule=2&phase=1&type=ch&tab=ranking" target="_blank">Voir le classement</a>
    {% elseif team.name =="Séniors 2" %}
        <a class="btn" href="https://delegation-du-roannais.fff.fr/competitions/?id=379636&poule=2&phase=1&type=ch&tab=ranking" target="_blank">Voir le classement</a>
    {% elseif team.name =="Féminines" %}
        <a class="btn" href="https://loire.fff.fr/competitions/?id=375394&poule=1&phase=1&type=ch&tab=ranking" target="_blank">Voir le classement</a>
        {% elseif team.name =="Loisirs" %}
        <a class="btn" href="https://delegation-du-roannais.fff.fr/competitions/?id=378744&poule=2&phase=1&type=ch&tab=ranking" target="_blank">Voir le classement</a>
    {% endif %}
    </div>
</div>
{% endblock %}