{% extends 'base.html.twig' %}

{% block title %}Licenciés{% endblock %}

{% block body %}
    <h1 class="text-center my-2">Licenciés</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Rôles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>IsPlayer</th>
                <td>{{ user.isPlayer ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsCoach</th>
                <td>{{ user.isCoach ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsReferee</th>
                <td>{{ user.isReferee ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsLeadership</th>
                <td>{{ user.isLeadership ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>PositionHeld</th>
                <td>{{ user.positionHeld }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ user.avatar }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex">
        <a class="btn my-3 mx-4" href="{{ path('admin_U_user_edit', {'id': user.id}) }}">Modifier</a>
        <div class="my-3">
            {{ include('admin/user/_delete_form.html.twig') }}
        </div>
    </div>
    <div class="text-center">
        <a class="btn my-3 mx-4" href="{{ path('admin_U_user_index') }}">Retour</a>
    </div>
{% endblock %}
