{% extends 'base.html.twig' %}

{% block title %}Inscroption{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="text-center">Inscription</h1>

    {{ form_start(registrationForm) }}
        
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.firstname) }}
        
        {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
        <div class="d-flex">
        {{ form_row(registrationForm.agreeTerms) }}
                <a class="mx-2" href="">Mentions légales</a> 
        </div>
            <button type="submit" class="btn mx-4 my-4">Inscription</button>
            <div class="text-center">
                <a class="btn my-3 mx-auto" href="{{ path('home') }}">Retour</a>
            </div>
        
    {{ form_end(registrationForm) }}
{% endblock %}
