{% extends 'base.html.twig' %}

{% block title %}Convocation{% endblock %}

{% block body %}
    <h1 class="text-center my-2">Convocation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ convocation.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ convocation.date ? convocation.date|date('d-m-Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ convocation.type }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ convocation.place }}</td>
            </tr>
            <tr>
                <th>Adversaire</th>
                <td>{{ convocation.opponent }}</td>
            </tr>
            <tr>
                <th>Rendez-vous</th>
                <td>{{ convocation.meeting }}</td>
            </tr>
            <tr>
                <th>Infos</th>
                <td>{{ convocation.content }}</td>
            </tr>
                <th>Joueurs convoqués</th>
            {% for user in convocation.user %}
                <td>{{ user.firstname ~ ' ' ~ user.lastname }}</td>
                {% endfor %}
        </tbody>
    </table>

    
    <div class="d-flex">
        <a class="btn my-3 mx-4" href="{{ path('admin_C_convocation_edit', {'id': convocation.id}) }}">Modifier</a>
        <div class="my-3">
            {{ include('admin/convocation/_delete_form.html.twig') }}
        </div>
    </div>
    <div class="text-center">
        <a class="btn my-3" href="{{ path('admin_C_convocation_index') }}">Retour</a>
    </div>
{% endblock %}
