{% extends 'base.html.twig' %}

{% block title %}Équipe Admin{% endblock %}

{% block body %}
    <h1 class="text-center my-2">Équipe</h1>
    <a class="btn ms-3 my-5" href="{{ path('admin_T_team_new') }}">Ajouter une équipe</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Équipe</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td data-label="Id">{{ team.id }}</td>
                <td data-label="Name">{{ team.name }}</td>
                <td data-label="Actions">
                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="Voir" href="{{ path('admin_T_team_show', {'id': team.id}) }}"><i class="far fa-eye"></i></a>
                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier" href="{{ path('admin_T_team_edit', {'id': team.id}) }}"><i class="fas fa-edit"></i></a>
                    {{ include('admin/team/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune équipe</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="my-4">
        <a class="btn ms-3" href="{{ path('admin_T_team_new') }}">Ajouter une équipe</a>
        <a class="btn" href="{{ path('admin') }}">Retour</a>
    </div>
{% endblock %}
