{% extends 'front/layout.html.twig' %}

{% block title %}
   {% if convocation %}
      {{ convocation.team.name }}
   {% else %}
   Convocations
   {% endif %}
{% endblock %}

{%block stylesheets %}
{{ parent() }}
{% endblock %}

{% block content %}
<section id="convoc">
   {% if convocation %}
      <div class="row">
         <div class="col-md-6 offset-md-6 my-5 pe-md-5">   
            <div class="card card-convoc">
               <div class="card-header convoc-title">
                  <h1 class="text-center">Convocations {{ convocation.team.name }}</h1>
               </div>
               <div class="card-body"> 
                  <p class="fw-bold">{{ convocation.date ? convocation.date|date('d/m/Y H:i') : '' }}</p>
                  <p>{{ convocation.type }}</p>
                  <p>Lieu : {{ convocation.place }}</p>
                  <p>Adversaire : {{ convocation.opponent }}</p>
                  <p>Rendez-vous : {{ convocation.meeting }}</p>
                  <p>Infos : {{ convocation.content }}</p>
                  {% if convocation.team.name == "Féminines" %}
                  <p class="fw-bold">Joueuses convoquées</p>
                  {% else %}
                  <p class="fw-bold">Joueurs convoqués</p>
                  {% endif %}
                  <div class="">
                  {% for user in convocation.user %}
                  <p class="me-2">{{ user.firstname ~ ' ' ~ user.lastname }}</p>
                  {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>      
   {% else %}
   <div class="text-center py-5 h1 card convoc-none">Pas de convocation pour cette équipe</div>
   {% endif %}

</section>
{% endblock %}