{% extends 'front/layout.html.twig' %}

{% block title %}ASPN Coachs{% endblock %}

{%block stylesheets %}
{{ parent() }}
{% endblock %}

{% block content %}

    {% for user in users %}
      <div class="col-sm-3">
        <div class="card h-100" style="width: 14rem;">
        {% if user.avatar %}
                <img src="{{ vich_uploader_asset(user, 'file') }}" class="card-img-top img-thumbnail" />
            {% else %}
                <img src="{{ asset('img/user-secret-solid.svg') }}" class="card-img-top img-thumbnail" />
            {% endif %}
            <div class="card-body">
            <p>{{ user.firstname }} {{ user.lastname }}</p>
            </div>
        </div> 
      </div>   
    {% endfor %}
{% endblock %}