{% extends 'front/layout.html.twig' %}

{% block title %}Convocations Loisirs% {% endblock %}

{%block stylesheets %}
{{ parent() }}
{% endblock %}

{% block content %}
    {% for convocation in convocations %}
            <tr>
                
                <p>{{ convocation.date ? convocation.date|date('d-m-Y H:i:s') : '' }}</p>
                <p>{{ convocation.type }}</p>
                <p>{{ convocation.place }}</p>
                <p>{{ convocation.opponent }}</p>
                <p>{{ convocation.meeting }}</p>
                <p>{{ convocation.content }}</p>
                <p>{{ convocation.team.name }}</p>
                {% for user in convocation.user %}
                <p>{{ user.firstname ~ ' ' ~ user.lastname }}</p>
                {% endfor %}
    {% endfor %}

{% endblock %}
